.inputbox_wrapper{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputbox_wrapper label {
  display: block;
  font-weight: 400;
  color: #2E2E2E;
  font-size: 12px;
}

.input_box{
  width: 100%;
  padding: 11px 14px;
  border: 1px solid #ccc;
  border-radius:6px;
  font-size: 13px;
  box-sizing: border-box;
  background-color: #fff;
  color: #101828;
}

.input_box[readonly] {
    background-color: #F3F3F3; /* Change background color when readOnly={true} */
    cursor: default; /* Optional: Change cursor to indicate it's not editable */
    /* You might want to also adjust the color or border if needed */
}

.input_box::placeholder {
color:  #101828;
font-size: 12px;
font-weight: 400;
}

.input_box:focus{
  border: 1px solid #424242;
}


.errormessage{
  color: red;
}