.nav_tab {
  display: inline-flex;
  flex-wrap: nowrap;
  max-width: 100%;
  padding: 4px;
  border: 1px solid #d2d2d2;
  gap: 2px;
  border-radius: 8px;
  margin: 0;
  background: #f7f7f7;
  cursor: pointer;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  position: sticky;
}
 
.nav_tab::-webkit-scrollbar {
  display: none; /* WebKit browsers: Chrome, Safari, Edge */
}
.nav_list {
  list-style: none;
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
}
 
.nav_item {
  display: block;
  padding: 9px 16px;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  border-radius: 6px;
}
 
.nav_item.active {
  font-weight: 700;
  font-size: 14px;
  color: white;
  background: #3425ff;
}