.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* padding: 0 0 20px 0; */
  width: 100%;
  margin-bottom: 27px;
}

.leftBlock {
  display: flex;
  gap: 18px;
  align-items: flex-start;
}

.backIcon {
  display:flex;
  align-items: center;
  width: 23px;
  height: 23px;
  cursor: pointer;
  margin-top: 8px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 37px;
  margin: 0 0 20px 0;
  color: #252C32;
}

.stepContainer {
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.stepLabel {
  font-size: 12px;
  color: #666666;
  font-weight: 400;
}

.stepNumber {
  font-size: 13px;
  color: #6366F1;
  font-weight: 700;
}

.progressBar {
  width: 110px;
  height: 8px;
  display: flex;
  margin-top: 2px;
}

.segment {
  flex: 1;
  height: 100%;
  background: #E5E7EB;
  clip-path: polygon(4px 0, 100% 0, calc(100% - 4px) 100%, 0 100%);
  transition: background 0.3s ease;
}

.segment:first-child {
  clip-path: polygon(0 0, 100% 0, calc(100% - 4px) 100%, 0 100%);
  border-radius: 10px 0 0 10px;
}

.segment:last-child {
  clip-path: polygon(4px 0, 100% 0, 100% 100%, 0 100%);
  border-radius: 0 10px 10px 0;
}

.segmentActive {
  background: #6366F1;
}

.rightBlock {
  display: flex;
  align-items: center;
  background: #FFFBEB;
  padding: 9px 10px 9px 10px;
  border-radius: 8px;
  gap: 15px;
  border: 1px solid #F6F6F6;
}

.infoItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 12px;
  color: #515151;
  font-weight: 400;
}

.value {
  font-size: 16px;
  font-weight: 700;
  color: #323232;

}
