.clgAppSaleDetailsTop{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.clgAppSaleDetailsLeft{
    display: flex;
}

.clgAppSaleDetailsHeadingStepper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.clgAppSaleDetails{
    font-size: 28px;
    font-weight: 700;
    font-style: bold;
    color: #252C32;
}

img{
    margin: 0;
    padding: 0;
}

.clgAppSaleDetailRight{
    display: flex;
    gap: 15px;
    padding: 9px 10px;
    background-color: #FFFEEC;
    /* width: 50%; */
}

.clgAppDetailsHeading{
    font-size: 12px;
    font-weight: 400;
    color: #515151;
    text-align: right;
}

.clgAppDetailsValue{
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    text-align: right;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}


@media only screen and (min-width: 1281px) and (max-width: 1439px){

}



@media only screen and (max-width: 1280px) {

}