.phoneNumberBox_wrapper{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.phoneNumberBox_wrapper label {
  display: block;
  font-weight: 400;
  color: #344054;
  font-size: 12px;
}

.phoneNumberBox{
  width: 100%;
  padding: 11px 14px;
  border: 1px solid #ccc;
  border-radius:6px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #fff;
  color: #101828;
}

.phoneNumberBox::placeholder {
color:  #101828;
font-size: 12px;
font-weight: 400;
}

.phoneNumberBox:focus{
  border: 1px solid #424242;
}


.phonenumberIcon{
  position: absolute;
  right:15px;
  top: 30px;
}