
.main_content {
  /* width: calc(100vw - 16.5%); */
  padding: 10px;
  box-sizing: border-box;
  background-color: #F6F8F9;
  /* margin-top: 54px;
  margin-left: 16.5%; */
  position:relative;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.analytics_wrapper {
  display: flex;
  width: 100%;
  background-color: white;
}

.analytics_wrapper.row {
  flex-direction: row;
  background-color: #F6F8F9;
}


.analytics_wrapper.column {
  flex-direction: column;
}


.prev_years_graphs_section {
  width: 30%;
}
