.costSelectionForGraphWrapper {
  position: absolute;
  width: 308px;
  height: 254px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 40px;
  padding: 19px;
  left: 0px;
  border-radius: 10px;
  border: 1px solid #d7d7d7;
  background: linear-gradient(
    180deg,
    #FFFFFF80,
    rgba(255, 255, 255, 0.5) 100%
  );
 backdrop-filter: blur(4px);
}

.costFilterTop{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.costFilterheading{
    font-size: 12px;
    font-weight: 400;
}

.cost_nav_tab {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 4px;
  border: 1px solid #d2d2d2;
  gap: 2px;
  border-radius: 6px;
  margin: 0;
  background: #f7f7f7;
  cursor: pointer;
  overflow-x: auto;
  background-color:#F0F0F0;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.cost_nav_tab::-webkit-scrollbar {
  display: none; /* WebKit browsers: Chrome, Safari, Edge */
}
.cost_nav_list {
  list-style: none;
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
}

.cost_nav_item {
  display: block;
  padding: 6px 13px;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  border-radius: 3px;
}

.cost_nav_item.active {
  font-weight: 700;
  font-size: 14px;
  color: white;
  background: #3425ff;
}

.filterAppButtons {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 13px;
}
