.wrapper {
  display: flex;
  gap: 10px;
}

/* LEFT SIDE */
.leftBlock {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.imageWrapper {
  position: relative;
  text-align: center;
}

.profileImg {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #E5E7EB;
}

.editBtn {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 18px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.maxSizeText {
  display: block;
  margin-top: 12px;
  color: #EF4444;
  font-size: 11px;
}

/* RIGHT SIDE */
.rightBlock {
  flex: 1;
}

.headerRow {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 15px;
}

.sectionTitle {
  font-size: 12px;
  color: #000000;
  white-space: nowrap;
}

.line {
  flex: 1;
  height: 1px;
  background:linear-gradient(to right, #B6B6B6 0%, #FFFFFF00 40%);
}

/* GRID */
.infoGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px 22px;
  width:80%;
}

.infoItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  font-size: 12px;
  color: #82808F;
  font-weight: 400;
}

.value {
  font-size: 14px;
  font-weight: 700;
  color: #0C0C0C;
}