.wrapper {
  width: 100%;
  padding: 20px 0 0 0;
}

.headerRow {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 20px;
}

.title {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  white-space: nowrap;
}

.line {
  flex: 1;
  height: 1px;
  background:linear-gradient(to right, #B6B6B6 0%, #FFFFFF00 40%);
}

.infoGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px 22px;
  width:90%;

}

.infoItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  font-size: 12px;
  color: #82808F;
  font-weight: 400;
}

.value {
  font-size: 14px;
  font-weight: 700;
  color: #0C0C0C;
}